.circle {
    display: flex;
    width: 500px;
    height: 500px;
    background-color: #edf7fd;
    border-radius: 50%;
    margin-left: 60vh;
    margin-top:10vh;
    color:#449ac8;

  }
  .plug-img
  {
    max-height: 30vh;
    margin-left: -25vh;
    margin-top: 47vh;
  }
  .soket-img{
    max-height: 20vh;
    margin-left: -25vh;
    margin-top: 50vh;
  }
