@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
.loader-container {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.loader {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 5px;
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 1rem;
    padding-bottom: 7rem;
}

.loader span {
    --duration: 1s;
    height: var(--height);
    width: 15px;
    background-color: #449AC8;
    border: none;
    border-radius: 5px;
    animation: animation var(--duration) ease-in-out infinite;
}

.loader span:nth-child(1) {
    --height: 50px;
    animation-delay: 0.25s;
}

.loader span:nth-child(2) {
    --height: 70px;
    animation-delay: 0.55s;
}

.loader span:nth-child(3) {
    --height: 80px;
    animation-delay: 0.75s;
}

.loader span:nth-child(4) {
    --height: 70px;
    animation-delay: 1s;
}

.loader span:nth-child(5) {
    --height: 50px;
    animation-delay: 1.25s;
}

.attribute {
    position: absolute;
    bottom: 10px;
}

@keyframes animation {

    0%,
    100% {
        transform: translateY(25%);
        opacity: 0.4;
        box-shadow: 0 0 20px #65c1f3;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
        box-shadow: none;
        height: calc(var(--height) + 25px);
    }
}