.root {
  padding: 0px 0px;
  background: #f9f6f6;
  padding-top: 50px;

  margin: 0px 0px;
}

.container_main {
  background-color: #f9f6f6;
}

.page_title h4 {
  font-size: 2.5rem;
  text-align: left;
  color: black;
  line-height: 4rem;
  font-weight: 600;
}

.page_title h4 span {
  color: #20ada0;
}

.homeBanner {
  width: 100vw; /* Full viewport width */
  height: 90vh; /* 90% of the viewport height */
  margin: 0; /* Remove any margins */
  padding: 50px;
  position: relative;
  border-radius: 0; /* Remove rounded corners for full-width effect */
  padding-top: 90px;

  .blurredContent {
    filter: blur(5px);
    transition: filter 0.3s ease-out;
  }

  /* .blurredContent {
  filter: blur(5px);
  transition: filter 0.3s ease-out;
} */

  /* Combined gradient and image background */
  background: linear-gradient(
      to right,
      rgba(32, 173, 160, 0.8),
      rgba(0, 0, 0, 0.4)
    ),
    url("/assets/images/Gemini_Generated_Image_o9ery1o9ery1o9er.jpg");
  background-size: cover; /* Make sure the background covers the container */
  background-position: center; /* Center the image in the container */
  background-repeat: no-repeat; /* Prevent image repetition */
}
/* Text content styling */
.homeBanner h1,
.homeBanner h2,
.homeBanner p {
  position: relative;
  z-index: 2;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .homeBanner {
    height: 70vh;
    padding: 20px;
  }

  .homeBanner h1 {
    font-size: 2rem;
  }

  .homeBanner p {
    font-size: 1rem;
  }
}

.slick-initialized .slick-slide {
  display: block;
  padding: 10px !important;
}

.bannerBottom {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  /* border-radius: 30px; */
  background-color: #f9f6f6;

  background: linear-gradient(
      to right,
      rgba(32, 173, 160, 0.8),
      rgba(0, 0, 0, 0.1)
    ),
    url("/assets/images/Gemini_Generated_Image_o9ery1o9ery1o9er.jpg");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;
}

.slider_src_place {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.nav-slide {
  padding: 0 5px;
}

.customDots {
  bottom: -30px;

  display: flex !important;

  justify-content: center;
}

.customDot {
  width: 12px;
  height: 12px;
  background-color: #ccc;

  border-radius: 50%;
  margin: 0 5px;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;

  color: #333;
  /* Text color */
}

.slick-active .customDot {
  background-color: #ff5722;

  color: white;
}

.sliderImage {
  width: 100%;
  height: auto;
}

/* Footer styles added */
.footer {
  width: 100%;
  margin-top: 50px;
  padding: 50px 30px 30px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.footer-grid-item {
  text-align: left;
}

.logoBox {
  display: flex;
  align-items: center;
}

.arogyaIcon {
  color: #20ada0;
  display: none;
  margin-right: 10px;
}

@media (min-width: 960px) {
  .arogyaIcon {
    display: flex;
  }
}

.logoText {
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #20ada0;
  text-decoration: none;
}

.mainTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.arogya2024 {
  margin-bottom: 20px;
  font-weight: 400;
  color: gray;
}

.footer-title {
  font-size: 18px;
  color: #000;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-typography-h6 {
  font-size: 13px;
  color: #000;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 0;
  cursor: pointer;
}

.footer-subscription {
  margin-top: 15px;
}

.social-icons {
  margin-right: 15px;
  cursor: pointer;
  color: #20ada0;
  background: #f9f9f9;
}

.email-input {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.emailInput {
  margin-left: 1px;
  flex: 1;
}

.subscribe-button {
  color: white;
  background: #20ada0;
  width: 100%;
  margin-top: 10px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: nowrap;
}

.footer-copyright {
  font-size: 14px;
  color: gray;
  line-height: normal;
  font-weight: 500;
  white-space: nowrap;
  margin: 0;
  margin-right: 800px;
  color: #20ada0;
}

.footer-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 1px;
  flex-wrap: nowrap;
  color: #20ada0;
}

.footer-pages {
  margin-right: 15px;
  font-size: 14px;
  color: gray;
  line-height: 20px;
  font-weight: 100;
  margin-bottom: 10px;
  cursor: pointer;
}

/* sliderComponent styles added */

.sliderContainer {
  text-align: center;
}

.sliderForBox {
  width: 30vw;
  margin: 0 auto;
  margin-bottom: 40px;
}

.sliderForPaper {
  max-width: 30vw;
  margin-bottom: 20px;
  padding: 20px;
  min-height: 380px;
  text-align: left;
}

.sliderForQuoteImage {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.sliderForDescription {
  text-align: left;
  margin-top: 15px;
  font-size: 0.9rem;
  font-weight: normal;
  padding-bottom: 20px;
  color: #252525;
  line-height: 1.5rem;
}

.sliderForStarsBox {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.sliderForStarImage {
  width: 40px;
}

.sliderNavBox {
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 16px;
}

.sliderNavPaper {
  display: flex;
  padding: 16px;
  border-radius: 30px;
  align-items: center;
}

.sliderNavUserImage {
  width: 65px;
  height: 65px;
  margin-right: 20px;
  border-radius: 100px;
  background: #20ada0;
}

.sliderNavName {
  color: #20ada0;
  font-size: 1.2rem;
}

.sliderNavAge {
  color: gray;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: left;
}

/* aboutUs css */

.aboutUsContainer {
  text-align: center;
  background: white;
  padding: 80px 20px 40px;
}

.imageGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
  border-radius: 15px;
}

.textGrid {
  text-align: left;
  padding: 20px;
  margin-top: 50px;
}

.title {
  font-size: 2.8rem;
  color: #333;
  line-height: 3.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.titleHighlight {
  color: #20ada0;
  margin-left: 0.5rem;
  font-weight: 600;
}

.description {
  font-size: 1.2rem;
  color: #555;
  line-height: 2rem;
  font-weight: 400;
  margin-top: 20px;
}

.cardsGrid {
  margin-top: 50px;
}

.cardGreen {
  background: linear-gradient(145deg, #1f9e92, #23b0a5);
  padding: 25px;
  border-radius: 25px;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.cardWhite {
  background: white;
  padding: 25px;
  border-radius: 25px;
  color: #333;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cardGreen:hover,
.cardWhite:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.cardTitle {
  color: inherit;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cardDescription {
  color: inherit;
  margin-top: 15px;
  margin-bottom: 10px;
}

/*topbar css  */

.appBar {
  background-color: #fff !important;
  padding: 0px 8px;
}

.logoText {
  margin-right: 2rem;
  display: flex;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: #000;
  text-decoration: none;
}

.menuButton {
  color: inherit;
}

.menuItem {
  color: #000;
  text-align: center;
}

.menuItemButton {
  color: black !important;
  margin: 2px 0;
  display: block;
}

.appointmentButtonContainer {
  flex-grow: 0;
  margin-right: 3px;
}
.appointmentButtonContainer1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 200px;
  padding: 10px 20px;

  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 60px;
}

.appointmentButtonContainer1:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.appointmentButton {
  background-color: #20ada0 !important;
  color: white !important;
  width: 100%;
  border-radius: 100px !important;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  -ms-border-radius: 100px !important;
  -o-border-radius: 100px !important;
}

.appointmentButton:hover {
  color: #1d869d;
  background-color: white;
}

.avatarContainer {
  flex-grow: 0;
}

.avatarButton {
  padding: 0;
}

.userMenu {
  margin-top: 45px;
}

@media (min-width: 900px) {
  .adbIcon {
    display: flex;
  }

  .mobileLogo {
    display: none;
  }

  .menuItems {
    display: flex;
    justify-content: center;
  }

  .menuIconContainer {
    display: none;
  }
}

.bannerContent {
  width: 850px;
  height: 300px;
}

.bannerImage {
  width: 48vw;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.bannerTextWrapper {
  background-color: rgba(255, 255, 255, 0.53);
  padding: 40px;
  border-radius: 10px;
  text-align: left;
}

.bannerHeading {
  font-size: 32px;
  line-height: 48px;
  color: #000;
  margin-bottom: 10px;
}

.bannerDescription {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 20px;
}

.inputPaper {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}

.inputBase {
  margin-left: 8px;
  flex: 1;
}

.submitButtonWrapper {
  flex: 1;
  margin-top: 20px;
}

.submitButton {
  width: 100%;
  color: #20ada0;
  background: #fff;
}

.submitButton:hover {
  background-color: #20ada0;
  color: white;
}

.bannerCardContent {
  position: absolute;
  bottom: -28px;
  left: 0;
  z-index: 1;
  padding: initial;
}

.bannerBestMedical {
  background: #f9f6f6;
  padding: 15px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  border-radius: 1px 25px 5px 0px;
  color: black;
}

.bannerTreatment {
  background: #f9f6f6;
  padding: 15px;
  border-radius: 1px 25px 5px 0px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: black;
}

/* ExpertSpecialistSlider css */

.expertSpecialistSlider {
  padding: 50px 20px;
  background: #f9f6f6;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 1350px;
  margin: 0 auto;
}

.sliderHeading {
  margin-bottom: 30px;
  text-align: center;
  color: #0f7765;
}

.specialistCard {
  height: 315px;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
}

.doctorImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #20ada0;
  margin: 0 auto;
}

.drName {
  font-size: 1.2rem;
  color: #20ada0;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.field {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .experience {
  font-size: 0.8rem;
  color: #000;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
} */
.buttonWrapper {
  margin-top: 30px;
}

.learnMoreButton {
  padding: 12px 30px;
  font-size: 1rem;
  background: #20ada0;
  border-radius: 50px;
  text-transform: capitalize;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.learnMoreButton:hover {
  background-color: #20ada0;
  color: white;
}

.title1 {
  font-size: 1.2rem;
  color: #20ada0;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.title2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #063e37;
  margin-bottom: 20px;
}

.specialistCardShort {
  height: 310px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.specialistCardShort:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.specialistCard {
  height: 315px;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
}

.doctorImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 15px;
  border: 3px solid #20ada0;
}

.drName {
  font-size: 1.3rem;
  font-weight: bold;
  color: #20ada0;
  margin: 10px 0;
}

.field {
  font-size: 0.9rem;
  color: #000;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.experience {
  font-size: 1rem;
  font-weight: 500;
  color: #20ada0;
  margin: 0px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(90deg, #20ada0, #0f7765);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 50px;
  padding: 5px 0px;
  box-shadow: inset 0 0 0 transparent, 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
}

.experience:hover {
  box-shadow: 0 4px 10px rgba(32, 173, 160, 0.4);
}

.experience .icon:hover {
  transform: scale(1.1);
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.learnMoreButton {
  margin-top: 20px;
  width: auto;
  color: #fff;
  background: #20ada0;
  border-radius: 100px;
}

.learnMoreButton:hover {
  background-color: #20ada0;
  color: white;
}

@media (max-width: 768px) {
  .specialistCardShort {
    height: auto;
    padding: 15px;
  }

  .doctorImage {
    width: 100px;
    height: 100px;
  }

  .title2 {
    font-size: 2rem;
  }

  .learnMoreButton {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

/* bottombanner css */

.bannerImage3 {
  width: 48vw;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.gridContainer {
  height: 100%;
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -66px;
  margin-bottom: 20px;
  margin-right: -16px;
  background: #f9f6f6;
  border-radius: 0 0 0 25px;
  padding: 15px;
}

.cardTitle2 {
  background: #f9f6f6;
  padding: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  border-radius: 1px 25px 5px 0px;
  color: black;
  -webkit-border-radius: 1px 25px 5px 0px;
  -moz-border-radius: 1px 25px 5px 0px;
  -ms-border-radius: 1px 25px 5px 0px;
  -o-border-radius: 1px 25px 5px 0px;
}

.cardSubtitle2 {
  background: #f9f6f6;
  padding: 3px;
  border-radius: 1px 25px 5px 0px;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  color: black;
  margin-right: 10px;
}

.callToActionButton {
  position: absolute;
  right: 580px;
  top: 40px;
  width: 23%;
  color: #20ada0;
  background-color: #fff;
}

.callToActionButton:hover {
  background-color: #20ada0;
  color: white;
}

.formContainer {
  background-color: rgba(255, 255, 255, 0.53);
  padding: 40px;
  border-radius: 10px;
  text-align: left;
  max-width: 500px;
  margin-right: 40px;
  margin-top: 80px;
  margin-bottom: 190px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.formHeading {
  font-size: 32px;
  line-height: 48px;
  color: #000;
  margin-bottom: 10px;
}

.formDescription {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 20px;
}

.inputPaper {
  padding: 2px 4px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 24px;
}

.inputBase {
  margin-left: 8px;
  flex: 1;
}

.submitButtonContainer {
  flex: 1;
  margin-top: 20px;
}

.submitButton {
  width: 100%;
  /* color: #20ada0; */
  background-color: #fff;
}

.submitButton:hover {
  background-color: #20ada0;
  color: white;
}

/* speciality slider css */

.specialityTitle {
  font-size: 32px;
  color: #000;
  line-height: 40px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* .specialistBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 4px solid white;
  border-radius: 30px;
  padding: 20px;
  
  box-sizing: border-box; 
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
  box-sizing: border-box;
} */

.specialistIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}

.specialistImage {
  height: 100px;
  width: 100px;
  background: #fff;
  position: relative;
  border: 2px solid #20ada0;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.specialistTitle {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  color: #20ada0;
  margin-top: 10px;
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  word-wrap: break-word; /* Ensure the title text wraps */
}

.specialistCaption {
  font-size: 16px;
  color: #333;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
  letter-spacing: 0.5px;
  word-wrap: break-word; /* Ensures long words wrap within the container */
  overflow-wrap: break-word; /* Handles word breaking in case of long words */
  max-width: 100%; /* Ensures it doesn't overflow the container width */
  white-space: normal; /* Allows the text to wrap normally */
  box-sizing: border-box;
}

.readMoreButton {
  margin-top: auto;
  padding: 8px 16px;
  color: #fff;
  background: #20ada0;
  border-radius: 100px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.readMoreButton:hover {
  background-color: #178e7a;
  /*Darkershadeonhover*/
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.outerBox {
  background: #f9f6f6;
  padding: 50px;
  height: 50px;
}

.gridButton {
  margin-top: 4px;
  margin-left: 2px;
  width: auto;
  color: #fff;
  background: #20ada0;
  border-radius: 100px;
}

.gridButton:hover {
  background-color: #20ada0;
  color: white;
}

/* symptomCards css */

.symptomBox {
  text-align: center;
  background-color: #f9f6f6;
  border-radius: 0 0 50% 50%;
  padding: 50px 20px;
  max-width: 1400px;
  background-color: #f9f6f6;
  /* -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  -o-border-radius: 0 0 50% 50%; */
}

.symptomTitle {
  font-size: 2.5rem;
  color: #000;
  line-height: 40px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.symptomTitleSpan {
  font-size: 1rem;
  color: #20ada0;
}

.symptomGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symptomPaper {
  padding: 16px;
  border-radius: 30px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.symptomCardMedia {
  border-radius: 100px;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 3px solid white;
}

.symptomCardTitle {
  font-size: 16px;
  color: #000;
  line-height: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.symptomButton {
  margin-top: 15px;
  width: auto;
  color: #fff;
  background: #20ada0;
  border-radius: 100px;
}

.symptomButton:hover {
  background-color: #20ada0;
  color: white;
}

.gridButton {
  color: white;
  background-color: #20ada0;
  margin-top: 50px;
}

.gridButton:hover {
  background-color: #20ada0;
  color: white;
}

/* testimonial css */

.testimonialsSection {
  padding: 60px 20px;
  background: #f9f6f6;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.testimonialsTitleBox {
  text-align: center;
  margin-bottom: 50px;
}
.testimonialsTitle1 {
  color: #00a8a6;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.testimonialsTitle2 {
  color: #2d3748;
  font-size: 36px;
  font-weight: 700;
}

.testimonialsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.testimonialCard {
  max-width: 340px;
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonialCard:hover {
  transform: translateY(-8px);
  box-shadow: 2px 2px 2px 4px #81e6db inset;
}

.testimonialAvatar {
  width: 90px;
  height: 90px;
  margin: 0 auto 15px;
  border: 2.3px solid #81e6db;
  border-radius: 50%;
}

.quoteIcon {
  width: 30px;
  height: 30px;
  margin: 10px auto;
  opacity: 0.8;
}

.testimonialDescription {
  font-size: 16px;
  margin: 15px 0;
  color: #495057;
}

.testimonialName {
  font-weight: 700;
  color: #1a202c;
  margin-top: 15px;
  font-size: 18px;
}

.rating {
  margin-top: 10px;
}
